.pill{
    width: auto;
    height: 28px;
    background: rgba(216, 216, 216, 0.44);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
