.dropdown-toggle::after {
    display:none !important;
    background-color: #fff !important;
}

.dropdown-toggle {
    background-color: #fff !important;
    border: 0 !important;
}

.wrapper-list {
    background: #ffffff;
    border-radius: 6px;
}